<!DOCTYPE html>
<html>
  <head>
    <title><%= typeof title !== 'undefined' ? title : "EJS Notes" %></title>
    <style></style>
  </head>
  <body>
    <header>
      <h1>EJS Notes App</h1>
      <nav>
        <a href="/">Home</a>
        <a href="/logout">Logout</a>
      </nav>
    </header>
    <main>