<!DOCTYPE html>
<html>
  <head>
    <title><%= typeof title !== 'undefined' ? title : "EJS Notes" %></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <style></style>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <header>
      <h1>EJS Notes App</h1>
      <nav>
        <a href="/">Home</a>
        <a href="/new">New Note</a>
        <a href="/logout">Logout</a>
      </nav>
    </header>
    <main></main>
  </body>
</html>
